@import '../../theme';

// Layout styles
#container {
    padding: 38px 50px 0px 50px;
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    min-height: 100%;
}

// Button styles
.remove-btn {
    text-decoration: underline;
}
