<div class="container">
  <form class="form-group" id="search-form">
    <div class="row" id="search-form-row">
      <div class="col-md-9">
        <input type="text" [(ngModel)]="keyword" required name="keyword" class="form-control" id="search-field" placeholder="Search for repo">
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary" id="submit-btn" (click)="search()">Search</button>
      </div>
    </div>
  </form>
  <div>
    <div class="row">
      <div class="col-md-12">
        <app-search-results></app-search-results>
      </div>
    </div>
  </div>
</div>
