#search-field {
    width: 70%;
}

#submit-btn, #search-field, #search-form {
    width: 100%;
    height: 100%;
}

.col-md-9 {
    padding-right: 0 !important;
}

.row {
    height: 50px !important;
}

#search-form {
    padding: 50px;
}